{{ define "main" }}
    <header class="section-header section-journals">
        <h1 class="section-title">{{ .Title }} · {{ len .Pages }}</h1>
    </header>

    <section class="journal-list">
        {{ range .Pages.GroupByDate "2006" }}
            <div class="journal-year-group">
                <h2 class="journal-year">{{ .Key }}</h2>
                {{ range .Pages.GroupByDate "January" }}
                    <div class="journal-month-group">
                        <h3 class="journal-month">{{ .Key }}</h3>
                        <div class="journal-month-entries">
                            {{ range .Pages }}
                                <a href="{{ .RelPermalink }}" class="journal-row">
                                    <time>{{ .Date | time.Format "02" }}</time>
                                    <span class="separator">—</span>
                                    <span class="title">{{ .Title }}</span>
                                    <span class="preview">{{ .Plain | htmlUnescape | replaceRE "^[^\\n]+\\n" "" | truncate 80 "…" }}</span>
                                </a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </section>

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
