<aside class="sidebar left-sidebar sticky {{ if .Site.Params.sidebar.compact }}compact{{ end }}">
    <header>
        <div class="site-meta">
            {{/* SEO: On single pages, article title is h1, so demote site name to div */}}
            {{ if eq .Kind "page" }}
            <div class="site-name"><a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a></div>
            {{ else }}
            <h1 class="site-name"><a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a></h1>
            {{ end }}

            <div class="site-visitor-count">
                {{ partial "helper/icon" "world" }}
                <span id="visitor-count-sidebar">...</span>
                <span class="visitor-label">visitors</span>
            </div>

            <h2 class="site-description">{{ .Site.Params.sidebar.subtitle }}</h2>
        </div>
    </header>

    {{/* Categories widget */}}
    {{ partial "widget/categories.html" (dict "Context" .) }}
</aside>
